/* =================================
   CSS Styles for Workshop 01
   ================================= */

/* TODO Task 2: Add your general styles here */

/* Reset and Base Styles */
* {
    /* Add your reset styles here (margin, padding, box-sizing) */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* Add body styles:  font-family, background-color, color, etc. */
    margin: 0;
    padding: 30px;
    text-align: center;
    background-color:antiquewhite;
    font-family: Arial, sans-serif;
    color: #333;

}

/* TODO Task 2: Style your headings */
h1 {
    font-size: 50px;
    padding: 20px;
    color:rgb(40, 107, 84);
}

h2, h3 {
    color: rgb(125, 160, 149);
    margin-bottom: 7px;
}


/* TODO Task 2: Style your paragraphs */
p {
    margin: 0 auto;
    padding: 10px 20px;
    color:rgb(28, 73, 57);
    line-height: 1.7;
    text-align: justify;
    max-width: 800px;
}

/* TODO Task 2: Style your images */
img {
    border: none;
    padding: 30px;
    border-radius: 45%;     /* Makes the corners rounded*/
    width: 300px;
    max-width: 100%;
}

/* TODO Task 3: Navigation Styles */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:antiquewhite;
}

nav ul {
    /* Remove bullets and style the list */
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    /* Add spacing around each menu item */
    padding: 14px 16px;
}

nav a {
    /* Style the links */
    padding: 20px;
    color:rgb(8, 91, 173);
    font-weight: bold;
    text-decoration: none;
}

nav a:hover {
    /* Add hover effect */
    background-color: rgb(128, 128, 176);
    color: aliceblue;
}

/* Main Content Styles */
main {
    
}

section {
    /* Add spacing between sections */
    margin: 20px auto;

}

/* TODO Task 4: Form Styles */
form {
    max-width: 500px;
    margin: 0 auto;
}

form div {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 15px;
}

label {
    flex: 0 0 150px;
}

input,
textarea {
    /* Style form inputs */
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button,
input[type="submit"] {
    /* Style the submit button */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    color:aliceblue;
    font-weight: bold;
    background-color:rgb(51, 128, 102);
    cursor: pointer;

}

button:hover,
input[type="submit"]:hover {
    /* Add hover effect for button */
    background-color: rgb(128,128,176);
}

/* Footer Styles */
footer {
    
}

/* TODO Task 5: Media Queries for Responsive Design */
/* Tablet styles (optional) */
@media (max-width: 768px) {
    /* Add your tablet/mobile styles here */
    
}

/* Mobile styles */
@media (max-width:  480px) {
    /* Add your mobile-specific styles here */
    
}