body {
    font-family: Arial, sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #2c3e50;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.5;
    color: #34495e;
}

img {
    display: block;
    margin: 20px auto;
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    width: 100px;
}

a {
    color: #2980b9;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
